<footer id="reserve" class="bg-white">
      <hr>
      <div class="container">
        <div class="row mt-5">
          <div class="col-sm">
            <h4 class="mb-3">Find Us</h4>
            <p class="parag text-left">316 alger bin o bin</p>
            <p class="parag text-left">trig li moraha 20120</p>
            <p class="parag text-left">chrachir mor alger</p>
          </div>
          <div class="col-sm">
            <h4 class="mb-3">Open Hours</h4>
            <p class="parag text-left">Monday to Friday | 11:00 AM - 11:00 PM</p>
            <p class="parag text-left">Saturday - Sunday | 2:00 PM - 11:00 PM</p>
          </div>
          <div class="col-sm">
            <h4 class="mb-3">Reservation</h4>
            <p class="parag text-left">samshaikh1192@gmail.com</p>
            <p class="parag text-left">Phone: +91 70463 37596</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <p class="m-5 parag text-center">Copyright &copy; Bar Houch 2020</p>
          </div>
        </div>
      </div>

    </footer>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
        <% if (success_msg && success_msg.length > 0) { %>
        swal({
            title: "Success",
            text: "<%= success_msg %>!",
            icon: "success",
            button: "Ok",
        });

        <% } %>
</script>
